*{
    
    padding: 0 ; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    align-items: center;
    justify-content: center;
    background-color: #91B49E;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #183139;
    flex-wrap: wrap;
}
.enca a{
    padding: 0 0 0 20px;
    color: #91B49E;
    padding: 0;
    margin: 3px 0 0 20px; 
    font-size: 48px;
    overflow:hidden;
    text-decoration: none;
}
.nav-list{
    display:flex;
    list-style-type: none;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size:20px;
    transition: transform 0.3s;
}
.nav-list li a:hover{
    color:#91B49E;
    transform: scale(1.1);
}
.abrir-menu,.cerrar-menu{
    display: none;
}
@media screen and ( max-width: 970px){
    .abrir-menu,.cerrar-menu {
        display:block;
        border:0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor:pointer;
    }

    .nav{
        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position:absolute;
        top:0;
        right: 0;
        bottom:0;
        background-color:#183139 ;
        padding:2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
        opacity: 0;
        visibility: hidden;
    }
    .nav.visible{
        opacity:1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        text-decoration: none;
        color:rgb(255, 250, 250);
    }
}
@media screen and (max-width:704px){
    .enca{
        font-size:30px;
    }
}



/* header {
    background-color: #183139;
    color: white;
    padding: 1em 0;
    text-align: center;
    border: 1px solid #D8E3C0;
    box-shadow: 0 0 10px #9BD8DB;
}
h1{
    color:#D8E3C0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ;
}
nav ul li a:hover{
    color: #91B49E ;
    transform: scale(1.1);
    text-decoration: underline;
} */

#titulo{
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 20px #183139;
    
}

main{
    display: flex;
}

/* #planes,#reserva{
    width: 90%;
    height: auto;
    margin: 10px 0;
} */

#calendario{
    text-align: center;
    width:300px;
    width: 100%;
    height: 40vh;
    padding: 20px;
    box-shadow: 0 0 15px #91B49E;
    border: 1px solid #D8E3C0;
    border-radius: 20px;
    margin: 10px;
    backdrop-filter: blur(5px);
    color: #000000;
    overflow: hidden;
    background-color: #ffffff;
   

}
ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0;
    cursor: pointer;

}
li{
    text-align: right;
    height: 30px;
    cursor: pointer;

}
.primer-dia{
    grid-column-start: 5;
}

.dia-nombre{
    background:#eee;
    font-weight: bold;
    text-align: center;
}
#cancel, #ok{
    text-align: end;
    margin: 5px;
        
}



#texto2{
    margin-bottom: 5px;
}

img{
    overflow: hidden;
    width: 700px;
    height: 350px;
}

#foto{
    
    height: auto;
    display:flex;
}
@media screen and(max-width:650px){
    .foto{
        width:100px;
        height:100px; 
       }
}



#reserva{
    width: 300px;
    height: 40vh;

}

.pack{
    width: 100%;
    height: 40px;
}

/* Contenedor de la derecha parte de reservas*/
/* #reserva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
    border: 1px solid #D8E3C0;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    margin: 5px;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px #D8E3C0;
    z-index: -999;
    
} */


/* Texto interior del apartado de reservas*/
/* #inicio{
    width: 130px;
    height: 40px;
    border-radius: 5%;
    background-color: #183139;
    color: white;
    border: 1px solid black;
    box-shadow:0 0 15px #D8E3C0, 0 0 10px #9BD8DB;
}
#fin{
    width: 130px;
    height: 40px;
    border-radius: 5%;
    background-color: #183139;
    color: white;
    border: 1px solid black;
    box-shadow:0 0 15px #D8E3C0, 0 0 10px #9BD8DB;
}

#agendar{
    width: 90px;
    height: 30px;
    background-color: #A5AC5F;
    color: black;
    box-shadow:0 0 15px #D8E3C0, 0 0 10px #9BD8DB;
    cursor: pointer;
} */

/* Pie de pagina */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #f4f4f4;
    text-align: center;
    padding: 10px;
}